#calculator-button-ui button {
    width: 100%;
    height: 10vh;
    margin-bottom: 20px;
}

#calculator-button-ui .btn-dark {
    font-size: 4vh;
}

#calculator-screen-ui {
    font-family: 'Press Start 2P', cursive;
    margin-bottom: 20px;
    font-size: 4vh;
}